body {
    background-color: #15172b;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

/* Menú */
div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
}
div.logo img{
    width: 100px;
}
div.menu ul{
    list-style-type: none;
    display:flex;
}
div.login ul{
    list-style-type: none;
    display:flex;
}
div.menu ul a{
    text-decoration: none;
    color: black;
    padding: 1em;
    background-color: gray;
    font-weight: bold;
}
div.menu ul a:hover{
    opacity: 0.6;
}
div.login button{
    padding: 0.6em;
    background-color: #15172b;
    border-radius: 0.7em;
    color:lightgray;
}
div.login button:hover{
    opacity: 0.8;
}
div.login ul a{
    text-decoration: none;
    color:white;
}
div.login li{
    padding-right: 0.5em;
}

/* Cuerpo */
div.content h1{
    margin-top: 50px;
    text-align: center;
    color: lightgray;
    text-transform: uppercase;
}
div.content h2:first-of-type{
    text-align: center;
    margin-left: 0px;
    margin-bottom: 50px;
    text-decoration: underline;
}
div.content h2{
    color: lightgray;
    margin-left: 100px;
}
div.content p{
    color: lightgray;
    margin-left: 100px;
    margin-right: 100px;
    text-align:justify;
    line-height: 1.5em;
}
div.content p:last-of-type{
    margin-bottom: 70px;
}
div.content h3{
    color: lightgray;
    margin-left: 100px;
}
div.content ul{
    color: lightgray;
    margin-left: 100px;
    margin-right: 100px;
    text-align:justify;
    line-height: 1.5em;
}
div.content li + li{
    margin-bottom: 10px;
}
div.content li:first-child{
    margin-bottom: 10px;
}

/* Pie de página */
div.footer{
    background-color:grey;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
div.footer ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
div.footer a{
    text-decoration: none;
    color: black;
}
div.copy p{
    font-weight: bold
}
div.links a:hover{
    opacity: 0.6;
}
div.rrss{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
}
div.rrss div.rrsslinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.rrss div.rrsslinks a:hover{
    opacity: 0.5;
}
div.rrss div.rrsslinks a{
    padding-bottom: 20px;
}